@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@font-face {
  font-family: "Cal Sans";
  src: url("../fonts/CalSans-SemiBold.eot");
  src: url("../fonts/CalSans-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CalSans-SemiBold.woff2") format("woff2"), url("../fonts/CalSans-SemiBold.woff") format("woff"),
    url("../fonts/CalSans-SemiBold.ttf") format("truetype"),
    url("../fonts/CalSans-SemiBold.svg#CalSans-SemiBold") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #666666;
  font-size: 1rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.title {
  font-family: "Cal Sans";
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 1.2;
  color: #121212;
  text-align: center;
}
.title span {
  color: #ff6428;
}
@media (max-width: 47.9988em) {
  .title {
    font-size: 2.1875rem;
  }
}
@media (max-width: 25.5613em) {
  .title {
    font-size: 1.875rem;
  }
}

[class*="__container"] {
  max-width: 75em;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
}
/*============== PAGE ================*/
.page {
  flex: 1 1 auto;
}
.page__main {
}
.page__store {
}
.page__categories {
}
.page__brands {
}
.page__why {
}
.page__reviews {
}
/*============== HEADER ===============*/
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  align-items: center;
  gap: 131px;
  min-height: 152px;
}
@media (max-width: 68.25em) {
  .header__container {
    min-height: 100px;
  }
}
@media (max-width: 47.9988em) {
  .header__container {
    min-height: 70px;
  }
}

@media (max-width: 71.25em) {
  .header__container {
    gap: 65px;
  }
}
@media (max-width: 47.9988em) {
  .header__container {
    gap: 40px;
  }
}
@media (max-width: 29.9988em) {
  .header__container {
    gap: 20px;
  }
}
.header__logo {
}
@media (max-width: 25.5613em) {
  .header__logo {
    flex: 0 0 28px;
    width: 28px;
    overflow: hidden;
  }
}
.header__menu {
}
.menu {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}
@media (max-width: 51.7488em) {
  .menu {
    padding: 0;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 14px;
  column-gap: 56px;
}
@media (max-width: 68.25em) {
  .menu__list {
    row-gap: 10px;
    column-gap: 40px;
  }
}
@media (max-width: 47.9988em) {
  .menu__list {
    row-gap: 5px;
    column-gap: 20px;
  }
}
.menu__item {
}
.menu__link {
  font-weight: 500;
  line-height: 1.5;
  color: rgba(18, 18, 18, 0.4);
}
.menu__link:hover {
  text-decoration: underline;
}

/*=============== MAIN =============*/
.main {
  padding: 0px 0px 80px 0px;
}
@media (max-width: 61.9988em) {
  .main {
    padding: 0px 0px 50px 0px;
  }
}
@media (max-width: 47.9988em) {
  .main {
    padding: 0px 0px 20px 0px;
  }
}
.main__container {
  display: flex;
}
.main__content {
  align-self: flex-end;
  padding: 120px 20px 60px 0px;
  flex: 0 1 54%;
}
.main__title {
  font-family: "Cal Sans";
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1.19;
  color: #121212;
}
.main__title:not(:last-child) {
  margin: 0px 0px 16px 0px;
}
@media (max-width: 29.9988em) {
  .main__title:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }
}
.main__title span {
  color: #ff6428;
}
.main__text {
  font-weight: 500;
  line-height: 1.5;
  max-width: 400px;
}
.main__text:not(:last-child) {
  margin: 0px 0px 33px 0px;
}
@media (max-width: 29.9988em) {
  .main__text:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
}
.main__actions {
}
.actions-main {
  display: flex;
  align-items: center;
  column-gap: 40px;
  row-gap: 15px;
  flex-wrap: wrap;
}
@media (max-width: 25.5613em) {
  .actions-main {
    justify-content: center;
  }
}
.actions-main__button {
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 48px;
  min-height: 60px;
  background: #ff6428;
  border-radius: 40px;
  transition: all 0.3s ease 0s;
  text-align: center;
}
@media (max-width: 25.5613em) {
  .actions-main__button {
    flex: 1 1 100%;
  }
}
.actions-main__button:hover {
  background: #f24b08;
}
.actions-main__icons {
  display: flex;
  align-items: center;
  gap: 27.76px;
}

.actions-main__icon {
}
.main__decor {
  flex: 0 1 46%;
}

.main__image {
  margin: 0px -135px 0px 0px;
  position: relative;
  max-width: 672px;
  padding-bottom: 106.159%;
}
.main__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 0px 0px 151px 360px;
}
.main__image::after {
  content: "";
  background: url("../img/main/decor01.svg") 0 0 no-repeat;
  width: 80px;
  height: 80px;
  position: absolute;
  right: 36.309524%; /* 244px/672 */
  bottom: 0;
  transform: translate(0, 50%);
}

@media (max-width: 68.25em) {
  .main__content {
    flex: 0 1 60%;
    padding-bottom: 0;
  }
  .main__decor {
    flex: 0 1 40%;
  }
  .main__decor img {
    width: 100%;
  }
}
@media (max-width: 51.7488em) {
  .main__content {
    flex: 0 1 100%;
    padding: 90px 0px 0px 0px;
  }
  .main__decor {
    display: none;
  }
}
@media (max-width: 47.9988em) {
  .main__content {
    padding: 70px 0px 0px 0px;
  }
  .main__title {
    font-size: 44px;
  }
}
@media (max-width: 25.5613em) {
  .main__title {
    font-size: 35px;
  }
}

/* ===============STORE================= */
.store {
  padding: 80px 0px 90px 0px;
}
@media (max-width: 61.9988em) {
  .store {
    padding: 40px 0px 50px 0px;
  }
}
@media (max-width: 47.9988em) {
  .store {
    padding: 20px 0px 30px 0px;
  }
}
.store__container {
}
.store__title {
  margin: 0px 0px 86px 0px;
}
@media (max-width: 61.9988em) {
  .store__title {
    margin: 0px 0px 40px 0px;
  }
}
@media (max-width: 47.9988em) {
  .store__title {
    margin: 0px 0px 20px 0px;
  }
}
.store__body {
}
.body-store {
}
.body-store__header {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  row-gap: 5px;
  margin: 0px 0px 32px 0px;
  flex-wrap: wrap;
}
@media (max-width: 47.9988em) {
  .body-store__header {
    margin: 0px 0px 0px 0px;
  }
}
.body-store__title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.08em;
  color: #121212;
}
.body-store__all {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #868686;
}
.body-store__all:hover {
  text-decoration: underline;
}
.body-store__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 54px;
}
.body-store__items:not(:last-child) {
  margin: 0px 0px 96px 0px;
}
@media (max-width: 47.9988em) {
  .body-store__items:not(:last-child) {
    margin: 0px 0px 40px 0px;
  }
}
.body-store__item {
}
.item-body-store {
  display: grid;
}
.item-body-store__image {
  padding-bottom: 52.197802%;
  position: relative;
  overflow: hidden;
}
.item-body-store__image img {
  transition: all 0.3s ease 0s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.item-body-store__image img:hover {
  transform: scale(1.1);
}
.item-body-store__image:not(:last-child) {
  margin: 0px 0px 40px 0px;
}
@media (max-width: 61.9988em) {
  .item-body-store__image:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
}
@media (max-width: 47.9988em) {
  .item-body-store__image:not(:last-child) {
    margin: 0px 0px 0px 0px;
  }
}
.item-body-store__name {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: #121212;
  justify-self: flex-start;
}
.item-body-store__name:not(:last-child) {
  margin: 0px 0px 7px 0px;
}
.item-body-store__price {
  font-size: 0.875rem;
  line-height: 1.5;
}
@media (max-width: 61.9988em) {
  .body-store__items {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
}
@media (max-width: 35em) {
  .body-store__items {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 15px;
  }
}

/*============= CATEGORIES ===========*/
.categories {
  padding: 90px 0px 110px 0px;
}
@media (max-width: 61.9988em) {
  .categories {
    padding: 40px 0px 50px 0px;
  }
}
@media (max-width: 47.9988em) {
  .categories {
    padding: 20px 0px 30px 0px;
  }
}
.categories__container {
}
.categories__title {
  margin: 0px 0px 80px 0px;
}
@media (max-width: 61.9988em) {
  .categories__title {
    margin: 0px 0px 40px 0px;
  }
}
@media (max-width: 47.9988em) {
  .categories__title {
    margin: 0px 0px 20px 0px;
  }
}
.categories__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 69.5px;
  row-gap: 20px;
}
.categories__item {
}
.item-categories {
  position: relative;
}
.item-categories__image {
  position: relative;
  padding-bottom: 127.272727%; /* 280/220 */
  border-radius: 20px;
  overflow: hidden;
}
.item-categories__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.16) 50%, rgba(0, 0, 0, 0.8) 100%);
}
.item-categories__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s ease 0s;
  object-fit: cover;
}
.item-categories:hover .item-categories__image img {
  transform: scale(1.1);
}
.item-categories__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 30px;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  z-index: 2;
}
@media (max-width: 75em) {
  .categories__items {
    column-gap: 20px;
  }
}
@media (max-width: 47.9988em) {
  .categories__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 29.9988em) {
  .categories__items {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*============= BRANDS =============*/
.brands {
  padding: 110px 0px 180px 0px;
}
@media (max-width: 61.9988em) {
  .brands {
    padding: 40px 0px 50px 0px;
  }
}
@media (max-width: 47.9988em) {
  .brands {
    padding: 20px 0px 30px 0px;
  }
}
.brands__container {
}
.brands__title {
  margin: 0px 0px 75px 0px;
}
@media (max-width: 61.9988em) {
  .brands__title {
    margin: 0px 0px 40px 0px;
  }
}
@media (max-width: 47.9988em) {
  .brands__title {
    margin: 0px 0px 20px 0px;
  }
}
.brands__items {
  justify-items: center;
  padding: 0px 89px;
  justify-content: space-between;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 20px;
  row-gap: 91px;
}
@media (max-width: 51.25em) {
  .brands__items {
    padding: 0;
  }
}
@media (max-width: 39.375em) {
  .brands__items {
    grid-template-columns: repeat(3, auto);
    row-gap: 70px;
  }
}
@media (max-width: 30.625em) {
  .brands__items {
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    column-gap: 60px;
    row-gap: 50px;
  }
}
@media (max-width: 22.5em) {
  .brands__items {
    column-gap: 30px;
    row-gap: 30px;
  }
}
.brands__item img {
  width: 100%;
}

/*================= WHY ===============*/
.why {
  padding: 93px 0px 94px 0px;
  background: #121212;
}
@media (max-width: 61.9988em) {
  .why {
    padding: 40px 0px 50px 0px;
  }
}
@media (max-width: 47.9988em) {
  .why {
    padding: 20px 0px 30px 0px;
  }
}
.why__container {
}
.why__title {
  margin: 0px 0px 75px 0px;
  color: #ffffff;
}
@media (max-width: 61.9988em) {
  .why__title {
    margin: 0px 0px 40px 0px;
  }
}
@media (max-width: 47.9988em) {
  .why__title {
    margin: 0px 0px 20px 0px;
  }
}
.why__items {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  column-gap: 220px;
}
.why__item {
}
.item-why {
  display: grid;
  justify-items: center;
  text-align: center;
}
.item-why__icon {
  background: #262626;
  border-radius: 20px;
  padding: 21.67px;
  display: flex;
  width: 72px;
  height: 72px;
  justify-content: center;
  align-items: center;
}
.item-why__icon:not(:last-child) {
  margin: 0px 0px 40px 0px;
}
.item-why__title {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
.item-why__title:not(:last-child) {
  margin: 0px 0px 12px 0px;
}
.item-why__text {
  font-size: 0.875rem;
  line-height: 1.5;
  text-align: center;
  text-transform: capitalize;
  color: #666666;
}
@media (max-width: 68.125em) {
  .why__items {
    grid-template-columns: repeat(2, auto);
    column-gap: 90px;
    row-gap: 50px;
  }
}
@media (max-width: 61.9988em) {
  .item-why__icon:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 47.9988em) {
  .item-why__icon:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
}
@media (max-width: 29.9988em) {
  .item-why__icon:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }
}
@media (max-width: 33.125em) {
  .why__items {
    grid-template-columns: repeat(1, auto);
    row-gap: 30px;
  }
}

/*================ REVIEWS ===================*/
.reviews {
  padding: 240px 0px 120px 0px;
}
@media (max-width: 61.9988em) {
  .reviews {
    padding: 40px 0px 50px 0px;
  }
}
@media (max-width: 47.9988em) {
  .reviews {
    padding: 20px 0px 30px 0px;
  }
}
.reviews__container {
}
.reviews__title {
  margin: 0px 0px 109px 0px;
}
@media (max-width: 61.9988em) {
  .reviews__title {
    margin: 0px 0px 40px 0px;
  }
}
@media (max-width: 47.9988em) {
  .reviews__title {
    margin: 0px 0px 20px 0px;
  }
}
